body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

header {
    background: linear-gradient(90deg, #0ce30c, #10d3d3);
    color: #000000;
    padding: 10px 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #00ffff;
}

header h1 {
    display: inline;
    font-size: 24px;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #00ffff;
}

nav ul li a:hover {
    background-color: #00ffff;
    color: #000;
    text-shadow: none;
}

section {
    padding: 20px;
}

.proyecto {
    border: 1px solid #00ffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px hsl(120, 100%, 50%);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00ffff, 0 0 50px #ff00ff;
}

.tecnologias {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.tecnologias i {
    font-size: 30px;
    color: #00ffff;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.tecnologias i:hover {
    transform: scale(1.2);
    color: #02fc02;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    box-shadow: 0 0 15px #ff00ff;
    border-top: 2px solid #ff00ff;
}
